html {
  background-color: #C0C0C0;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #C0C0C0;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.list {
  list-style: none;
}

.post-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0 10px;
}

.post-info {
  text-align: center;
}

.post-title {
  margin: 5px 0;
}

img {
  width: 55vh;
  height: 33vh;
}